<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.cmu.237.socialgood.knowledgethirst"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Example</name>

    <description>
       An app to learn english!
    </description>

    <author href="https://www.nishitamuhnot.com" email="team-elite@lists.andrew.cmu.edu">
        Nishita Srinivasan Folashade
    </author>
    
     <preference name="phonegap-version" value="2.5.0" />  

</widget>
