@font-face {
font-family: Rumpelstiltskin;
src: url(../fonts/Rumpelstiltskin.ttf);
}


@font-face {
font-family: Ravie;
src: url(../fonts/Ravie.ttf);
}

#Colors {
	maroon: #c54232;
	taupe: #c5b69b;
	cream: #fef6dd;
}

/* Main Styles
*******************************************************************************/
html, body {
	width: 100%;
}

.page-wrapper {
/*	text-align:center;*/
}

.content-wrapper {
/*	margin-left: auto;
	margin-right: auto;*/
/*	background: url(../assets/bg_wood.png);*/
    /* ^ unneccessary now I think.. */
/*	width:960px;*/
/*	width: 100%;*/
}

#gameboard {
/*	width: 960px;*/
/*	height: 540px;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	position: relative;*/
/*	width: 100%;*/
}

#myCanvas {
/*	width: 780px;*/
/*	height: 540px;*/
	position:absolute;
	right:0;
	background: url(../assets/bg_game.png);
	background-size: 100%;	
	width: 84.2%;
	height:100%;
}

/* Side Bar
*******************************************************************************/

/* houses before bar class*/
.house {
	
}

.house1 {
	background: url(../assets/house_orange.png);
/*	border: 1em solid black;*/
/*	background-color: #fb9222; */
	/*orange*/
	
}

.house1 #progress-slider {
/*	-webkit-mask-position: center; */
/*	-webkit-mask-image: url(../assets/houses_orange_mask.png);*/
	
}

.house2 {
	background: url(../assets/house_green.png);
/*	background-color: green; */
	
}

.house2 #progress-slider {
/*	-webkit-mask-position: center; 
	-webkit-mask-image: url(../assets/house_green_mask.png);
	-o-mask-image: url(../assets/house_green_mask.png);
  	-moz-mask-image: url(../assets/house_green_mask.png));
 	-ms-mask-image: url(../assets/house_green_mask.png));
 	mask-image: url(../assets/house_green_mask.png));*/
}

.house3 {
	background: url(../assets/house_pink.png);
/*	background-color: #fd5171; */
	
}

.house3 #progress-slider {
/*	-webkit-mask-position: center; 
	-webkit-mask-image: url(../assets/houses_pink_mask.png);*/
}


#side-bar {
/*	width: 180px;*/
/*	height: 540px;*/
	left:0;
	top:0;
	background: url(../assets/bg_wood.png);
	/* ^^ still works */
	position: absolute;
	width: 16%;
	height: 100%;
}

#other-side-bar {
/*	width: 180px;*/
/*	height: 540px;*/
	left:0;
	top:0;
	position: absolute;
	width: 16%;
	height: 100%;
}

.box {
/*	width: 10.5em;*/
/*	height: 10.5em;*/
/*	width: 150px;*/
/*	height: 166px;*/
	margin-left: 7%;
	width: 80%;
	height: 31%;
/*	display: inline-block;*/
	border: 3.5px #a77c50;
	border-radius: 10px;
	position: relative;
	background-position: center;
/*	background-size: 120%;*/
	
/*	background-image: url(../assets/house_orange2.png);*/
}

#progress-slider {
	margin:0; 
	width: 100%;    
	background-color: #77cc77; 
	background-color:transparent; 
	
}

#progress-bar {
/*	background-color: #77cc77; */
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#14e2e2), to(#00bcab));
}

.innerbox {
	margin-left: 7%;
	width: 80%;
	height: 31%;
/*	display: inline-block;*/
	border: 3.5px ridge #c5b69b;
	border-radius: 10px;
/*	position: absolute;*/
	background-position: center;
/*	left:0;*/
/*	top:0;*/
	background-size: auto 100%;
	background-repeat: no-repeat;
	
}


